# Node modules
node_modules/

# Python virtual environment
.venv/

# Python cache files
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# Local SQLite database
week-3/tasks.db
week-4/.env

.env
**/.env
.env.*
!.env.example
