
# Node modules
node_modules/

# Python virtual environment
.venv/

# Python cache files
__pycache__/
*.py[cod]

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
